<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
$(document).ready(function(){
$('#one').click(function(){
alert('from ID selector');
});
$('.two').click(function(){
alert('from class selector');
vsk Venkst

});
$('three').click(function(){
alert('from Element selector');
})
})
</script>
<input type='button' value='one' id='one'>
<input type='button' value='two' class='two'>
<input type='button' value='three'>